<div class="all-day-bar grey"></div>
<div class="hour-axis">
    <div class="two-hours">02:00</div>
    <div class="two-hours">04:00</div>
    <div class="two-hours">06:00</div>
    <div class="two-hours">08:00</div>
    <div class="two-hours">10:00</div>
    <div class="two-hours">12:00</div>
    <div class="two-hours">14:00</div>
    <div class="two-hours">16:00</div>
    <div class="two-hours">18:00</div>
    <div class="two-hours">20:00</div>
    <div class="two-hours">22:00</div>
    <div class="two-hours">24:00</div>
</div>
<div class="min-axis">
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
    <div class="fifteen-mins"></div>
</div>
