<div class="import-wrapper">
    <textarea id="import-box" placeholder="import string to models"></textarea>
    <button id="import-button">Import</button>
</div>

<div class="export-wrapper">
    <textarea id="export-box" placeholder="export models to string"></textarea>
    <button id="export-button">Export</button>
</div>
