@font-face {
  font-family: 'MuseoSans300';
  src: url('../font/museosans_300-webfont.eot');
  src: url('../font/museosans_300-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../font/museosans_300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans500';
  src: url('../font/museosans_500-webfont.eot');
  src: url('../font/museosans_500-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../font/museosans_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
