.purple {
  background: #5f2f69;
}

.light-blue {
  background: #009edf;
}

.green {
  background: #9cc416;
}

.blue {
  background: #0049a0;
}

.magenta {
  background: #9e156d;
}

.bright-green {
  background: #10b50c;
}

.grey {
  background: $grey;
}

